<h3>Back End Skills <button class="btn btn-sm btn-primary" (click)="add()">Add</button></h3>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let skill of back_end">
        <td><i class="fa {{skill.icon}}"></i></td>
        <td>{{skill.text}}</td>
        <td>
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary" (click)="edit(skill._id)">Edit</button>
            <button class="btn btn-sm btn-outline-secondary" (click)="delete(skill._id)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
