<div class="head_txt_area">
  <div class="row">
    <div class="col-md-6 offset-md-3" [innerHTML]="what.what_text">
    </div>
  </div>
</div>
<div class="container">
  <mat-tab-group>
      <mat-tab label="FRONT-END">
        <div class="skills-set row">
          <aside class="col-sm-6 col-md-3" *ngFor="let skill of what.front_end_skills">
              <i class="fa {{skill.icon}} fa-4x fa-fw"></i>
              <p>{{skill.text}}</p>
          </aside>
        </div>
      </mat-tab>
      <mat-tab label="BACK-END">
        <div class="skills-set row">
          <aside class="col-sm-6 col-md-3" *ngFor="let skill of what.back_end_skills">
              <i class="fa {{skill.icon}} fa-4x fa-fw"></i>
              <p>{{skill.text}}</p>
          </aside>
        </div>
      </mat-tab>
  </mat-tab-group>
</div>