<div class="head_txt_area">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Projects</h2>
      <p class="text-center">I have put my heart, commitment and loads of work in each of these projects. <br>I am proud of all of them.</p>
    </div>
  </div>
  </div>
  <article class="project-list clearfix">
    <aside *ngFor="let project of projects; let i = index">
      <div class="head_area">
        <p><a href="#">{{project.category}}</a></p>
        <h3><a routerLink="portfolio/{{i}}">{{project.name}}</a></h3>
      </div>
      <div class="img_area">
        <a routerLink="portfolio/{{i}}" class="overlay"></a>
        <img src="{{project.thumb}}">
      </div>
    </aside>
  </article>