  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Sign out</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <span data-feather="home"></span>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file"></span>
                Banner
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="shopping-cart"></span>
                Products
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h4 class="h4">Banner</h4>
        </div>
        <form [formGroup]="bannerForm" (ngSubmit)="bannerSubmit()">
          <div class="form-group">
            <textarea class="form-control" formControlName="banner" [value]="banner"></textarea>
          </div>
          <button type="submit" class="btn btn-outline-secondary btn-sm" [disabled]="!bannerForm.valid">Submit</button>
        </form>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h4 class="h4">About</h4>
        </div>
        <form [formGroup]="aboutForm" (ngSubmit)="aboutSubmit()">
          <div class="form-group">
            <textarea class="form-control" formControlName="about" [value]="about"></textarea>
          </div>
          <button type="submit" class="btn btn-outline-secondary btn-sm" [disabled]="!aboutForm.valid">Submit</button>
        </form>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h4 class="h4">What</h4>
        </div>
        <form [formGroup]="whatForm" (ngSubmit)="whatSubmit()">
          <div class="form-group">
            <textarea class="form-control" formControlName="what" [value]="what"></textarea>
          </div>
          <button type="submit" class="btn btn-outline-secondary btn-sm" [disabled]="!whatForm.valid">Submit</button>
        </form>

        <app-roll-dashoard></app-roll-dashoard>

        <app-extra-dashboard></app-extra-dashboard>

        <app-front-end-dashboard></app-front-end-dashboard>

        <app-back-end-dashboard></app-back-end-dashboard>

        <app-portfolio-dashboard></app-portfolio-dashboard>
        
      </main>
    </div>
  </div>