<div class="short-menu" id="filters">
  <ul>
    <li><a href="#" data-filter="*">Show All</a></li>
    <li><a href="#" data-filter=".metal">PSD To HTML</a></li>
    <li><a href="#" data-filter=".metal">Wordpress</a></li>
    <li><a href="#" data-filter=".metal">HTML Email</a></li>
    <li><a href="#" data-filter=".metal">Angular 2</a></li>
    <li><a href="#" data-filter=".metal">Megento</a></li>
  </ul>
</div>
<article class="project-list clearfix grid">
  <aside *ngFor="let project of projects.portfolio; let i = index" class="metal">
    <div class="head_area">
      <p><a href="#">{{project.category}}</a></p>
      <h3><a [routerLink]=[i]>{{project.name}}</a></h3>
    </div>
    <div class="img_area">
      <a [routerLink]=[i] class="overlay"></a>
      <img src="{{project.thumb}}">
    </div>
  </aside>
</article>